@model IEnumerable<SunsetRestaurant.Models.Tarea>

@{
    ViewData["Title"] = "Lista de Tareas";
}

<h2>Tareas</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Crear nueva tarea</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Evento</th>
            <th>Asignado a</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <td>@tarea.Nombre</td>
                <td>@tarea.Evento?.Nombre</td>
                <td>@tarea.AsignadoA?.ColabNombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tarea.TareaId" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@tarea.TareaId" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@tarea.TareaId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
